<tr>
  <td class="content-element second" style="padding: 20px; padding-top: 0; padding-bottom: 0;">
    <h2 class="centered-subtitle" style="color: #666666; font-size: 17px; text-align: center;">
      Tu cuenta ha sido cancelada por inactividad
    </h2>
  </td>
</tr>
