<tr>
  <td class="content-element second" style="padding: 20px; padding-top: 0;">
    <h2 class="centered-subtitle" style="color: #666666; font-size: 17px; text-align: center;">
      ¡Tu numéro telefónico esta listo!
    </h2>
  </td>
</tr>
<tr>
   <td class="beta-content" style="padding: 20px 15px;">
     <p class="title-support-code text-muted" style="color: #7d7d7d; font-size: 12px; font-weight: 300; line-height: 1.3em; padding-top: 20px;">
       <span class="bold" style="color: #707070; font-weight: 550;">
         <%= @user.name %>
       </span>
     </p>
     <p style="color: #7d7d7d; font-size: 12px; line-height: 1.3em;">
       <br>Tu telefono es:
       <span class="bold" style="color: #707070; font-weight: 550;">
         <%= @user.phone %>
       </span>
       <br>Tu codigo de conferencia asignado es:
       <span class="bold" style="color: #707070; font-weight: 550;">
         <%= @user.dialer.conference_code %>
       </span>
     </p>
   </td>
</tr>
