<tr>
  <td class="content-element second" style="padding: 20px; padding-top: 0; padding-bottom: 0;">
    <h2 class="centered-subtitle" style="color: #434343; font-size: 17px; text-align: center;">
      Nuevo Lead
    </h2>
  </td>
</tr>
<tr>
  <td class="beta-content" style="padding: 20px 15px; padding-top: 0;">
    <p style="font-size: 12px; line-height: 1.3em;">
      Se ha presentado un nuevo lead desde TodosConectados:
    </p>
    <p style="color: #FF5155; font-size: 12px; font-weight: 400; line-height: 1.3em;">
      <strong style="color: #434343; font-weight: 600;">Nombre:</strong>
      <%= @lead.name %><br>
      <strong style="color: #434343; font-weight: 600;">Correo Electrónico:</strong>
      <%= @lead.email %><br>
      <strong style="color: #434343; font-weight: 600;">Teléfono:</strong>
      <%= @lead.phone %><br>
      <strong style="color: #434343; font-weight: 600;">Comments:</strong>
      <%= @lead.comments %><br>
    </p>
  </td>
</tr>
