<tr>
  <td class="content-element second" style="padding: 20px; padding-top: 0; padding-bottom: 0;">
    <h2 class="centered-subtitle" style="color: #434343; font-size: 17px; text-align: center;">
      Aviso de inactividad
    </h2>
  </td>
</tr>
<tr>
  <td class="beta-content" style="padding: 20px 15px; padding-top: 0;">
    <p style="font-size: 12px; line-height: 1.3em;">
      No has utilizado tu sala de conferencias en 5 días....
    </p>
  </td>
</tr>
