# G-RECAPTCHA
GRECAPTCHA_KEY=
# Marcatel API
MARCATEL_USER=
MARCATEL_PASSWORD=
MARCATEL_LADA=
# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# SES
SES_FROM=noreply@gurucomm.mx
SES_SERVER=email.us-west-2.amazonaws.com
