---
http_interactions:
- request:
    method: post
    uri: http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc/mex
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:InsertaMensajes_xl><tns:Mensaje>Tú
        telefono quedo registrado 5522522113 y tu código de conferencia es 5283</tns:Mensaje><tns:CadenaTelefonos>5522522113</tns:CadenaTelefonos><tns:Usuario>xxxxxx</tns:Usuario><tns:Password>xxxxxx</tns:Password><tns:Lada>52</tns:Lada><tns:DobleVia>0</tns:DobleVia><tns:MMensaje>0</tns:MMensaje><tns:Campaña>0</tns:Campaña><tns:Prioridad>1</tns:Prioridad><tns:Auxiliar>0</tns:Auxiliar><tns:Auxiliar2>0</tns:Auxiliar2><tns:Origen>0</tns:Origen></tns:InsertaMensajes_xl></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/IInsertaSMS/InsertaMensajes_xl"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><InsertaMensajes_xlResponse
        xmlns="http://tempuri.org/"><InsertaMensajes_xlResult xmlns:a="http://schemas.datacontract.org/2004/07/WCF_InsertaSMS"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:code>200</a:code><a:message>60371077</a:message></InsertaMensajes_xlResult></InsertaMensajes_xlResponse></s:Body></s:Envelope>
  recorded_at: Fri, 27 Mar 2020 21:16:55 GMT
recorded_with: VCR 3.0.3
