---
http_interactions:
- request:
    method: get
    uri: http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="ServicioInsertarSMS"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:types><xsd:schema
        targetNamespace="http://tempuri.org/Imports"><xsd:import schemaLocation="http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc?xsd=xsd0"
        namespace="http://tempuri.org/"/><xsd:import schemaLocation="http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
        schemaLocation="http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc?xsd=xsd2"
        namespace="http://schemas.datacontract.org/2004/07/WCF_InsertaSMS"/><xsd:import
        schemaLocation="http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc?xsd=xsd3"
        namespace="http://schemas.microsoft.com/Message"/></xsd:schema></wsdl:types><wsdl:message
        name="IInsertaSMS_InOut_InputMessage"><wsdl:part name="parameters" element="tns:InOut"/></wsdl:message><wsdl:message
        name="IInsertaSMS_InOut_OutputMessage"><wsdl:part name="parameters" element="tns:InOutResponse"/></wsdl:message><wsdl:message
        name="IInsertaSMS_InsertaMensajes_ALL_ReturnID_InputMessage"><wsdl:part name="parameters"
        element="tns:InsertaMensajes_ALL_ReturnID"/></wsdl:message><wsdl:message name="IInsertaSMS_InsertaMensajes_ALL_ReturnID_OutputMessage"><wsdl:part
        name="parameters" element="tns:InsertaMensajes_ALL_ReturnIDResponse"/></wsdl:message><wsdl:message
        name="IInsertaSMS_InsertaMensajes_InputMessage"><wsdl:part name="parameters"
        element="tns:InsertaMensajes"/></wsdl:message><wsdl:message name="IInsertaSMS_InsertaMensajes_OutputMessage"><wsdl:part
        name="parameters" element="tns:InsertaMensajesResponse"/></wsdl:message><wsdl:message
        name=[...]
- request:
    method: post
    uri: http://b2c.marcatel.com.mx/MarcatelSMSWCF/ServicioInsertarSMS.svc/mex
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><tns:InsertaMensajes_xl><tns:Mensaje>Tu
        código de verificación es: dgct.</tns:Mensaje><tns:CadenaTelefonos>4421304777</tns:CadenaTelefonos><tns:Usuario>xxxxxx</tns:Usuario><tns:Password>xxxxxx</tns:Password><tns:Lada>52</tns:Lada><tns:DobleVia>0</tns:DobleVia><tns:MMensaje>0</tns:MMensaje><tns:Campaña>0</tns:Campaña><tns:Prioridad>1</tns:Prioridad><tns:Auxiliar>0</tns:Auxiliar><tns:Auxiliar2>0</tns:Auxiliar2><tns:Origen>0</tns:Origen></tns:InsertaMensajes_xl></soapenv:Body></soapenv:Envelope>'
    headers:
      Soapaction:
      - '"http://tempuri.org/IInsertaSMS/InsertaMensajes_xl"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><InsertaMensajes_xlResponse
        xmlns="http://tempuri.org/"><InsertaMensajes_xlResult xmlns:a="http://schemas.datacontract.org/2004/07/WCF_InsertaSMS"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:code>200</a:code><a:message>60369505</a:message></InsertaMensajes_xlResult></InsertaMensajes_xlResponse></s:Body></s:Envelope>
  recorded_at: Fri, 27 Mar 2020 21:13:35 GMT
recorded_with: VCR 3.0.3
