<!DOCTYPE html>
<html>
  <head>
    <title>TodoConectados</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body style="font-family: Helvetica, Arial, sans-serif; font-weigth: 300;" bgcolor="#FAFAFA" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
    <table id="main-container" borderspacing="0" borderpadding="0" border="0" bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" width="90%" style="background-color: #f5f5f5; border: 0; border-collapse: collapse; border-spacing: 0; margin: 0 auto; max-width: 500px; padding: 0;">
      <tbody>
        <tr id="header">
          <td id="header-td" border="0" height="86" width="100%" style="background-color: #fff; border: 1px solid #d9d9d9; padding: 0 20px; vertical-align: middle;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td id="header-logo-container" width="100%" style="padding-bottom: 12px; padding-top: 20px;">
                    <a target="_blank" href="<%= @landing_url %>">
                      <%= image_tag attachments['tc-main-logo.png'].url, alt: 'TodosConectados', style: 'display: block; height: auto; margin: 0 auto; width: 100px;' %>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr id="content">
          <td id="content-td" style="background-color: #fff; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <%= yield %>
              </tbody>
            </table>
          </td>
        </tr>
        <tr id="beta-footer" style="background-color: #FF5155; font-size: 8px; height: 45px; padding: 20px 10px;">
          <td id="footer-td">
            <p class="copyright" style="color: #fff; float: left; font-size: 10px; margin-left: 1rem; margin-right: 1rem; text-align: center;">
              Hecho con <%= image_tag attachments['corazon.png'].url, style: 'height: 10px; margin-left: 1px; margin-right: 1px;' %> en México
            </p>
            <p class="copyright" style="color: #fff; float: left; font-size: 10px; margin-left: 1rem; margin-right: 1rem; text-align: center;">
              Copyright &copy; 2020 TodosConectados
            </p>
            <p class="copyright" style="color: #fff; float: left; font-size: 10px; margin-left: 1rem; margin-right: 1rem; text-align: center;">
              #TodosConectados
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
